@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Catamaran", sans-serif;
    font-size: 16px;
}

/* Universal CSS Start */
.text-orange { color: #EA512E; }

.text-blue { color: #1B0238; }

.text-silver { color: #6B6B94; }

.bg-orange { background: #EA512E; }
.bg-light-orange { background: #fdf6ed; }

.bg-yellow { background: #f5890d !important; }

.bg-light-yellow { background: #fee9ca; }

.mt-4 { margin-top: 40px; }

.mt-10 { margin-top: 100px; }

.mt-12 { margin-top: 120px; }

.mt-13 { margin-top: 130px; }

.mt-15 { margin-top: 150px; }

.mt-20 { margin-top: 200px; }

.pt-100 { padding-top: 100px; }

.pb-7 { padding-bottom: 70px; }

.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.btn {
    color: #fff;
    display: inline-block;
    padding: 8px 30px;
    font-size: 14px;
    border-radius: 9px;
    font-weight: 500;
    transition: 0.5s ease;
    position: relative;
    background: #EA512E;
}
.btn2 {
    color: #fff;
    display: inline-block;
    padding: 8px 30px;
    font-size: 14px;
    border-radius: 9px;
    font-weight: 500;
    transition: 0.5s ease;
    position: relative;
    text-decoration: none;
    background: #f5890d;
}
.btn2:hover{
    color: #fff;
    background: #EA512E;
}
.btn:hover {
    color: #fff;
    background: #f5890d;
}
p {
    margin: 20px 0px 10px 0px;
    line-height: 1.8;
    color: #6b6b84;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #1b0238;
    font-family: "Catamaran", sans-serif;
    font-weight: bold;
}
/* Universal CSS End */


/* Header Section Start */
.navbar .navbar-nav .nav-item a:hover, .navbar .navbar-nav .nav-item a:focus, .main-navbar .navbar .navbar-nav .nav-item a.active {
    color: #ea512e;
    transition: 0.2s linear;
}

.navbar .navbar-nav .nav-item a.active {
    color: #ea512e;
}
.navbar .navbar-nav .nav-item a {
    color: #1b0238;
    font-size: 14px;
    font-weight: 600;
    padding-left: 24px;
    padding-right: 0;    
    font-family: "Roboto", sans-serif;
}
.dropdown-menu {    
    width: 230px;
    border: none;    
    transition: all 0.4s ease-in-out;
    border-radius: 0px;
    padding-left: 10px;
    box-shadow: 0px 0px 2px 2px #ffffff;
}
.dropdown:hover .dropdown-menu {
    display: block;
    /* margin-top: 10px; */ 
}
.navbar .container form  ul li ul li a img {
    width: 25px;
    /* padding-right: 10px; */
    margin-top: 4px;
}
.navbar .container form  ul li ul li a span {
    /* width: 25px; */
    padding-left: 10px;
}
/* Header Section End */


/* Banner Section Start */
.banner {
    width: 100%;
    height: 550px;
    background-size: cover;
    /* Cover - img will not cut. img will comes proper */
    background: url(../img/main-banner-bg.jpg);
    background-position: center center;
}
.banner .shape-1 {
    top: 4%;
    left: .7%;
    animation: move 2s infinite alternate;
}
.banner .shape-2 {
    top: 4%; 
    left: 50%;
    animation: move2 2s infinite alternate;
}
.banner .shape-3 {
    top: 70%;
    left: .7%;
    z-index: 9;
    animation: move 2s infinite alternate;
}
.banner .shape-4 {
    top: 84%;
    left: 48%;
    z-index: 9;
    animation: move3 1.5s  infinite alternate;
}
.cloud {
    /* background: aqua; */
    margin-left: -10px;
    top: 91%;
}
/* Banner Section End */

/* Who we are Section Start  */
.who{
    margin: 90px 0px;
}
.who .who-we-are-content span,
.popular .col-12 , 
.popular .card .class-list ul li span,
.core-value span,
.teacher span {
    font-weight: 600;
    font-size: 20px;
    color: #ea512e;
    font-family: "Sacramento", cursive;
}
.who-we-are-content h3,
.popular .col-12 h3 ,
.core-value h3,
.teacher h3{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.who-we-are-content .who-we-are-list li {    
    font-size: 15px;
    font-weight: bold;
    color: #1b0238;
    line-height: 50px;
    padding-left: 20px;    
}
.who-we-are-content .who-we-are-list li span {
    width: 30px;
    height: 30px;    
    border-radius: 50%;
    background: #ea512e;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 30px; 
    margin-right: 6px;
    transition: all 0.5s;
    font-family: "Roboto", sans-serif;
}
.who-we-are-content .who-we-are-list ul li:hover span{
    background: #f5890d;
    transition: all 0.5s;

}
.who-we-are-shape {    
    top: 120%;
    right: 5%;
    z-index: 2;
    animation: moveLeftBounce 2s linear infinite;
}
/* Who we are Section End  */

/* Popular Section Start */
.popular {
    position: relative;
}
.popular .card {
    border: none;
    border-radius: 5px;
}
.popular .class-body {
    background-color: #ffffff;
    padding: 45px 30px 30px;
    position: relative;
    border-radius: 0 0 10px 10px;    
  }
.popular .card .class-list {    
    padding-left: 0; 
    margin-bottom: 0;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dashed #f5890d;
}
.popular .card-body .price {
    position: absolute;
    color: #fff;
    background: #EA512E;
    display: inline-block;
    right: 0;
    top: 0;
    line-height: 1;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0 0 0 10px;
    transition: 0.5s;
}
.popular .card:hover img {
    transform: rotate(2deg) scale(1.2);
    transition: all 0.3s linear;
    cursor: pointer;
}
.popular .card:hover .price {
    background: #f5890d;
}

.popular .card:hover h5 {
    color: #ea512e;
}
.popular .class-list  li {
    display: inline;    
    list-style: none;
    margin-left: 5px;
    font-size: 12px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}
.popular .class-list  li span {
    color: #EA512E; 
    font-weight: 600;
}


.popular .class-shape .shape-1 {
    position: absolute;
    /* top: 0px; */
    left: 20px;
    /* bottom: 1px; */
    z-index: -1;
}
.popular .class-shape .shape-2 {
    position: absolute;
    right: 20px;
    /* bottom: 0; */
    z-index: -1;
}

/* Popular Section End */

/* Core Value Section Start */
.core-value .number{
   width: 60px;
   height: 60px; 
   line-height: 50px;
   text-align: center;
   border-radius: 50%;
   display: inline-block;
   margin-top: 1.5%;
   margin: 0px 10px;
   font-size: 24px;
   font-weight: 400;
   color: #1B0238;
   border: 3px solid #fff;   
   outline-offset: 4px;
   transition: 0.5s;
   cursor: pointer;
   font-family: "Catamaran", sans-serif;
}
.core-value .number:hover {
    color: #fff;
    transform: 0.5s;
    background-color: #EA512E !important;
    outline: 2px solid #EA512E !important;
}
.core-value .value-shape .shape-1 {    
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: -1;
}
.core-value .value-shape .shape-2 {
    position: absolute;
    left: 20px;
    z-index: -1;
    bottom: 30px;
}
.core-value .value-shape .shape-3 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
/* Core Value Section End */

/* Core Teacher Section Start */
.teacher .social-media{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: -70px;
    transition: all 0.5s ease-in;
}
.teacher .teacher-image:hover .social-media {
    margin-bottom: 0px;
    transition: all 0.5s ease-out;
}
.teacher .social-media li {
    width: 30px;
    height: 30px;
    line-height: 32px;
    background: #EA512E;
    border-radius: 50%;
    transition: 0.3s ease;
}
.teacher .social-media li a{
    color: #fff;
}
.teacher .social-media li:hover {
    background: #f5890d;
    transition: 0.3s ease;
}


/* Core Teacher Section End */



/* Animation  for Images */
/* @keyframes identifier {    Synatax 
} */
@keyframes move {
    0% {}
    100% { left: 2.5%; }
}
@keyframes move2 {
    0% {}
    100% { left: 53%; }
}
@keyframes move3 {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes moveLeftBounce {
    0% {}
    100% { right: 2.5%; }
}

